/* emoji handling (STYL-952) */
pre > img,
span.unicode-nums > img /*STYL-974*/ { 
  margin: 0 0 -0.25em;
  padding: 0;
  height: 1em;
}

.emoji { 
  margin: 0 0 -0.25em;
  padding: 0;
  height: 1em;
}
