@charset "UTF-8";

/*--------Put Your Custom CSS Rules Below--------*/

/* ----Font fallback for characters not represented in standard monospace ----*/
pre, code { font-family: UbuntuMono, monospace, ArialUnicodeMS, Symbola }

/* ----emoji handling (STYL-952) ----*/
pre > img { 
  margin-bottom: -2pt;
  height: 10pt;
  width: 10pt;
}

.emoji {
  margin-bottom: -2pt;
  height: 10pt;
  width: 10pt;
}

/* Unicode numbers in ch07 (STYL-974) */
span.unicode-nums 
  { content: '\1D7CF\1D7D0\1D7D1\1D7DC\1D7DD\1D7DE\1D7E9\1D7EA\1D7EB\1D7EC\1D7ED\1D7EE\1D7EF\1D7FA\1D7FB\1D7FC';
  color: #CC3300; 
}


/*--- This oneoff overrides the code in https://github.com/oreillymedia/animal_theme/blob/master/pdf/pdf.css---*/

/*----Uncomment to turn on automatic code wrapping

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
----*/

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)

@page toc:first {
  counter-reset: page 6;
}
----*/

/*----Uncomment to fix a bad break in the title 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] h1 {
  padding-left: 1.5in;
}
----*/

/*----Uncomment to fix a bad break in the subtitle
      (increase padding value to push down, decrease
      value to pull up)

section[data-type="titlepage"] h2 {
  padding-left: 1in;
}
----*/

/*----Uncomment to fix a bad break in the author names 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] p.author {
  padding-left: 3in;
}
----*/
